<div class="text-lg font-semibold text-gray-700 md:w-1/2 md:mx-auto">
  <p class="text-base text-gray-700">Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

  <p class="mt-2 truncate">
    <%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token), class: "text-blue-600 hover:underline" %>
  </p>

  <p class="text-base text-gray-700">Se você não solicitou isso, por favor, ignore este e-mail.</p>
  <p class="text-base text-gray-700">Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
</div>
